<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{get 'title'}}</title>
    <meta name="description" content="{{get 'description'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#foreach (get 'meta.general')}}
      <meta property="og:{{ property }}" content="{{ content }}">
    {{/foreach}}

    {{#foreach (get 'meta.twitter')}}
      <meta property="twitter:{{ name }}" content="{{ content }}">
    {{/foreach}}

    {{!-- <link rel="manifest" href="site.webmanifest"> --}}
    {{!-- <link rel="apple-touch-icon" href="icon.png"> --}}
    <!-- Place favicon.ico in the root directory -->

    <meta name="theme-color" content="#fafafa">
  </head>

  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {{!-- Main sections --}}
    {{> sections/lead }}
    {{> sections/slogan }}
    {{> sections/news }}
    {{> sections/tools }}
    {{> sections/connect }}
    {{> sections/footer }}

    <script src="vendors/jquery.min.js"></script>
  </body>

</html>
