<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{get 'title'}}</title>
    <meta name="description" content="{{get 'description'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#foreach (get 'meta.og')}}
      <meta property="og:{{ property }}" content="{{ content }}">
    {{/foreach}}

    {{#foreach (get 'meta.twitter')}}
      <meta property="twitter:{{ name }}" content="{{ content }}">
    {{/foreach}}
  </head>

  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {{!-- Main sections --}}
    {{> sections/lead }}
    {{> sections/slogan }}
    {{> sections/news }}
    {{> sections/tools }}
    {{> sections/connect }}
    {{> sections/footer }}

    {{#if development}}
      <script src="vendors/jquery.slim.js"></script>
    {{else}}
      <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous">
      </script>
    {{/if}}
  </body>
</html>
